@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Form */
.font-size-custom {
  font-size: 1rem;
}
.text-primary {
  color: #3f51b5; /* Replace with your primary color */
}

.text-primary-light:hover {
  color: #757de8; /* Replace with your primary light color */
  cursor: pointer;
}


